{
  "src/**/*.{js,jsx,json}": [
    "eslint --ext .js --ext .jsx src/ --fix",
    "prettier --write \"src/**/*.{js,jsx}\"",
    "git add"
  ],
  "src/**/*.{css,scss}": [
    "stylelint \"src/**/*.{css,scss}\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"src/**/*.{css,scss}\"",
    "git add"
  ]
}
